<tr>
  <td><%= @date == fixture.date ? '~' : @date = fixture.date %></td>
  <td><small><%= @time = fixture.time unless @time == fixture.time %></small></td>
  <td class="text-right"><%= fixture.home_club.short_name %></td>
  <td class="text-center"><%= fixture.home_score %> - <%= fixture.away_score %></td>
  <td><%= fixture.away_club.short_name %></td>
  <td class="text-right"><%= fixture.players_for_team(@team).count %></td>
  <%- FixturePlayer::METRICS.keys.each_with_index do |k,i| -%>
    <%- next if k == :pld -%>
    <td class="text-right">
      <%= raw('<strong>') if i == 5 %><%= fixture.points_for_team(@team)[k] %><%= raw('</strong>') if i == 5 %>
    </td>
  <%- end -%>
</tr>