<tr>
  <td>
    <strong><%= link_to team, team %></strong>
    <div><small><%= link_to team.manager, team.manager %></small></div>
  </td>
  <td>&pound;<%= team.budget %>m</td>
  <td><%= team.formation || '-' %></td>
  <%- %w( gls ass cs ga ).each do |type| -%>
    <td align="right">
      <%= team.seasons.current.try(type) || 0 %>
    </td>
  <%- end -%>
  <td class="text-right"><strong><%= team.current_points %></strong></td>
</tr>