<tr class="substitute">
  <td>
    <span class="label label-<%= position_colour team_player.player.position %>" title="<%= team_player.player.full_position %>" data-toggle="tooltip", data-placement="right"><%= team_player.player.position %></span>
  </td>
  <td>
    <%= link_to team_player.player.short_name, team_player_path(@team, team_player) %>
    <%- if team_player.transfer_listed? -%>
      <div class="label label-default" data-toggle="tooltip" title="Player is Transfer Listed">TRL</div>
    <%- end -%>
  </td>
  <td>
    <%- if team_player.player.status == 'injured' -%>
      <%= icon :ambulance, '', title: "Injured: #{team_player.player.status_notes}", data: { toggle: 'tooltip' } %>
    <%- elsif team_player.player.status == 'latefitnesstest' -%>
      <%= icon :stethoscope, '', title: team_player.player.status_notes, data: { toggle: 'tooltip' } %>
    <%- elsif team_player.player.status == 'doubtful' -%>
      <%= icon :medkit, '', title: "Doubtful: #{team_player.player.status_notes}", data: { toggle: 'tooltip' } %>
    <%- elsif team_player.player.status == 'suspended' -%>
      <%= icon :ban, '', title: "Suspended #{team_player.player.status_notes}", data: { toggle: 'tooltip' } %>
    <%- end -%>
  </td>
  <td>
    <%= team_player.club %>
    <%= icon('arrows-h', '', data: { toggle: 'tooltip' }, title: "Player moved clubs from #{team_player.club.short_name}, and actually plays for #{team_player.actual_club.short_name}", style: 'color:red;') if team_player.club_changed? %>
  </td>

  <%- FixturePlayer::METRICS.keys.each_with_index do |k,i| -%>
    <%- points = team_player.points_for_date(Date.today) -%>
    <%- if k == :pld -%>
      <td><%= icon(:check) if points[k] > 0 %></td>
    <%- else -%>
      <td class="text-right">
        <%= raw('<strong>') if i == 5 %><%= points[k] %><%= raw('</strong>') if i == 5 %>
      </td>
    <%- end -%>
  <%- end -%>
</tr>