<%= content_for :title, "Team of the Month: #{Date.today.year}" %>
<h1 class="page-header">Team of the Month <small><%= Date.today.year %></small></h1>

<div>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Month</th>
        <th class="info">First</th>
        <th>Second</th>
        <th>Third</th>
      </tr>
    </thead>

    <tbody>
      <%- @months.each do |month,teams| -%>
        <tr>
          <td><strong><%= Date::MONTHNAMES[teams.first.month_beginning.month] %></strong></td>
          <%- teams.sort_by(&:tot).reverse[0..2].each_with_index do |team,i| -%>
            <td class="<%= 'info' if i == 0 %>"><%= link_to team.team, team.team %> (<%= team.tot %>)</td>
          <%- end -%>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</div>

