<h1 class="page-header">
  <div class="pull-right">
    <%= link_to icon('pencil', 'edit'), [:edit, @team] if current_manager.admin? %>
  </div>
  <%= @team %>
</h1>

<h4 class="page-sub-header">
  <div class="pull-right">budget: &pound;<%= @team.budget %>m</div>
  managed by <%= link_to @team.manager, @team.manager %>
</h4>

<%- if @grid.assets.empty? -%>
  <h4 class="page-header">This team needs building. Ready for the auction?</h4>
  <p>Check out the <%= link_to 'player list', players_path %> for help on planning your auction targets.</p>
<%- else -%>
  <h4 class="page-header">Players <span class="badge"><%= @team.players.count %></span></h4>
  <%= datagrid_table @grid, html: { class: 'table table-striped table-hover' } %>
<%- end -%>
