<h1 class="page-header">
  <div class="pull-right">
    <%= link_to 'Edit', [:edit, @team] if current_manager.admin? %>
  </div>
  <%= @team %>
</h1>

<dl>
  <dt>Name</dt>
    <dd><%= @team.name %></dd>
  <dt>Manager</dt>
    <dd><%= link_to @team.manager, @team.manager %></dd>
</dl>

<section>
  <h4 class="page-header">Players <span class="badge"><%= @team.players.count %></span></h4>
  <%= datagrid_form_for @grid, :method => :get, :url => players_path %>
  <%= datagrid_table @grid, html: { class: 'table table-striped table-hover' } %>
</section>

