<h1 class="page-header">
  <div class="pull-right">
    <%= link_to icon('pencil', 'edit'), [:edit, @team] if current_manager.admin? %>
  </div>
  <%= @team %>
</h1>

<h4 class="page-sub-header">
  <div class="pull-right">budget: &pound;<%= @team.budget %>m</div>
  <p>managed by <%= link_to @team.manager, @team.manager %></p>
  <p id="team-status"><%= render 'status' %></p>
</h4>

<%- if @players.empty? -%>
  <h4 class="page-header">This team needs building. Ready for the auction?</h4>
  <p>Check out the <%= link_to 'player list', players_path %> for help on planning your auction targets.</p>
<%- else -%>

  <section class="datatable">

    <%= render 'player_filters' %>

    <table id="team-player-list" class="table table-striped table-hover">
      <thead>
        <tr>
          <th width="10" class="substitute"></th>
          <th width="10">Pos</th>
          <th>Name</th>
          <th>Club</th>
          <th>Purchase Price</th>
        </tr>
      </thead>
      <tbody>
        <%= render @players %>
      </tbody>
    </table>

  </section>

<%- end -%>
