<%= content_for :title, "Conversation: #{@conversation}" %>
<h1 class="page-header">Conversation <small><%= @conversation %></small></h1>

<ul class="list-unstyled">
  <%- @conversation.messages.each do |msg| -%>
    <li class="well">
      <p><small>created <abbr title="<%= msg.created_at.to_s :short %>"><%= time_ago_in_words msg.created_at %> ago</abbr>, by <%= msg.manager %></small></p>
      <%= markdown msg.body %>
    </li>
  <%- end -%>
</ul>


<%= simple_form_for [@conversation, @conversation.messages.build(manager: current_manager)] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :manager_id, as: :hidden %>
    <%= f.input :body, as: :text, label: false, placeholder: 'Enter your reply...', input_html: { rows: 4 } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, 'Reply' %>
    <%= link_to 'Delete', @conversation, class: 'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } if current_manager == @conversation.creator %>
    <%= link_to 'or go back', @conversation.new_record? ? conversations_path : @conversation %>
  </div>
<% end %>
