<tr class="substitute">
  <td>
    <%- if current_manager.admin? || current_manager == @team.manager -%>
      <%= link_to toggle_sub_team_player_path(@team, team_player), method: :post, data: { remote: true, sub: team_player.substitute? }, class: "fa-stack toggle-sub#{' highlight' unless team_player.substitute?}" do %>
        <%= icon :square, '', class: 'fa-stack-2x' %>
        <%= icon :user, '', class: 'fa-stack-1x fa-inverse', title: 'Substitute', data: { toggle: 'tooltip', placement: 'right' } %>
      <%- end -%>
    <%- else -%>
      <%= content_tag :span, class: "fa-stack toggle-sub#{' highlight' unless team_player.substitute?}" do %>
        <%= icon :square, '', class: 'fa-stack-2x' %>
        <%= icon :user, '', class: 'fa-stack-1x fa-inverse', title: 'Substitute', data: { toggle: 'tooltip', placement: 'right' } %>
      <%- end -%>
    <%- end -%>
  </td>
  <td>
    <span class="label label-<%= position_colour team_player.player.position %>" title="<%= team_player.player.full_position %>" data-toggle="tooltip", data-placement="right"><%= team_player.player.position %></span>
  </td>
  <td><%= link_to team_player.player.short_name, team_player_path(@team, team_player) %></td>
  <td><%= team_player.player.club.short_name %></td>
  <td>&pound;<%= team_player.purchase_price %>m</td>
</tr>