<%= content_for :title, @player %>
<h1 class="page-header">
  <div class="pull-right">
    <%- if @player.player.status -%>
      <span>
        <%- if @player.player.status == 'injured' -%>
          <%= icon :ambulance, '', title: "Injured: #{@player.player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.player.status == 'latefitnesstest' -%>
          <%= icon :stethoscope, '', title: @player.player.status_notes, class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.player.status == 'doubtful' -%>
          <%= icon :medkit, '', title: "Doubtful: #{@player.player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.player.status == 'suspended' -%>
          <%= icon :ban, '', title: "Suspended #{@player.player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- end -%>
      </span>
    <%- end -%>

    <%- if @player.substitute? -%>
      <span class="substitute fa-stack" title="Substitute" data-toggle="tooltip" data-placement="left">
    <%- else -%>
      <span class="substitute fa-stack highlight" title="Starting 11" data-toggle="tooltip" data-placement="left">
    <%- end -%>
      <%= icon :square, '', class: 'fa-stack-2x' %>
      <%= icon :user, '', class: 'fa-stack-1x fa-inverse' %>
    </span>
    <%= link_to @team, @team %>
  </div>

  <div class="label label-<%= position_colour @player.position %>" title="<%= @player.full_position %>" data-toggle="tooltip"><%= @player.position %></div>
  <%= content_for :title %>

  <small><%= @player.club %></small>
</h1>
<h4 class="page-sub-header">
  <%- if @player.transfer_listed? -%>
    <div class="pull-right label label-success">Player is transfer Listed!</div>
  <%- end -%>
  playing for <%= link_to @team, @team %>
</h4>


<div class="row">
  <div class="col-md-8">

    <%- if @player.club_changed? -%>
      <div class="alert alert-info">
        <strong>This player changed clubs from <%= @player.actual_club %> to <%= @player.club %>.</strong>
        He will continue to be listed as a <%= @player.club %> player throughout this season.
      </div>
    <%- end -%>

  </div>
  <div class="col-md-4">

    <%- if current_manager == @team.manager -%>
      <p class="pull-right btn-group">
        <%- if @player.transfer_listed? -%>
          <%= link_to 'Remove from Transfer List', toggle_transfer_listed_team_player_path, class: 'btn btn-default', method: :post %>
        <%- else -%>
          <%= link_to 'Add to Transfer List', toggle_transfer_listed_team_player_path, class: 'btn btn-default', method: :post %>
        <%- end -%>
        <%= link_to 'Release Player...', release_team_player_path(@team, @player), method: :delete, data: { confirm: 'Are you sure you want to release this player? This will permanently remove the player from your team, and you will receive no compensation.'}, class: 'btn btn-danger' %>
      </p>
    <%- end -%>

  </div>
</div>

<br><br>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#points" role="tab" data-toggle="tab" data-no-turbolink><strong>Current Season</strong></a></li>
  <li><a href="#seasons" role="tab" data-toggle="tab" data-no-turbolink><strong>Previous Seasons</strong> <span class="badge"><%= @player.seasons.count %></span></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="points">
    <section>
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th class="text-right">PLD</th>
            <th class="text-right">GLS</th>
            <th class="text-right">ASS</th>
            <th class="text-right">CS</th>
            <th class="text-right">GA</th>
            <th class="text-right">Total</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="text-right"><%= @player.player.season.pld %></td>
            <td class="text-right"><%= @player.player.season.gls %></td>
            <td class="text-right"><%= @player.player.season.ass %></td>
            <td class="text-right"><%= @player.player.season.cs %></td>
            <td class="text-right"><%= @player.player.season.ga %></td>
            <td class="text-right"><strong><%= @player.player.season.tot %></strong></td>
          </tr>
        </tbody>
      </table>
    </section>
  </div>

  <div class="tab-pane fade" id="seasons">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Season</th>
          <th>PLD</th>
          <th>GLS</th>
          <th>ASS</th>
          <th>CS</th>
          <th>GA</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <%- @player.player.previous_seasons.each do |season| -%>
          <tr>
            <td><strong><%= season %></strong></td>
            <td><%= season.pld %></td>
            <td><%= season.gls %></td>
            <td><%= season.ass %></td>
            <td><%= season.cs %></td>
            <td><%= season.ga %></td>
            <td><%= season.tot %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
