<%= content_for :title, @player %>
<h1 class="page-header">
  <div class="pull-right">
    <%- if @player.player.status -%>
      <span>
        <%- if @player.player.status == 'injured' -%>
          <%= icon :ambulance, '', title: "Injured: #{@player.player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.player.status == 'latefitnesstest' -%>
          <%= icon :stethoscope, '', title: @player.player.status_notes, class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.player.status == 'doubtful' -%>
          <%= icon :medkit, '', title: "Doubtful: #{@player.player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.player.status == 'suspended' -%>
          <%= icon :ban, '', title: "Suspended #{@player.player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- end -%>
      </span>
    <%- end -%>

    <%- if @player.substitute? -%>
      <span class="substitute fa-stack" title="Substitute" data-toggle="tooltip" data-placement="left">
    <%- else -%>
      <span class="substitute fa-stack highlight" title="Starting 11" data-toggle="tooltip" data-placement="left">
    <%- end -%>
      <%= icon :square, '', class: 'fa-stack-2x' %>
      <%= icon :user, '', class: 'fa-stack-1x fa-inverse' %>
    </span>
    <%= link_to @team, @team %>
  </div>

  <div class="label label-<%= position_colour @player.position %>" title="<%= @player.full_position %>" data-toggle="tooltip"><%= @player.position %></div>
  <%= content_for :title %>
  <small><%= @player.club %></small>
</h1>
<h4 class="page-sub-header">
  playing for <%= link_to @team, @team %>
</h4>

<ul class="nav nav-tabs" role="tablist">
  <li class="active"><a href="#details" role="tab" data-toggle="tab" data-no-turbolink>Details</a></li>
  <li><a href="#seasons" role="tab" data-toggle="tab" data-no-turbolink>Previous Seasons <span class="badge"><%= @player.seasons.count %></span></a></li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="details">
    <p class="pull-right">
      <%= link_to 'Release Player...', release_team_player_path(@team, @player), method: :delete, data: { confirm: 'Are you sure you want to release this player? This will permanently remove the player from your team, and you will receive no money.'}, class: 'btn btn-danger' if current_manager.admin? || current_manager == @team.manager %>
    </p>

    <p><strong>Purchased</strong> <abbr title="<%= @player.created_at %>" data-toggle="tooltip"><%= time_ago_in_words @player.created_at %> ago</abbr> for &pound;<%= @player.purchase_price %>m.</p>
  </div>

  <div class="tab-pane fade" id="seasons">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Season</th>
          <th>PLD</th>
          <th>GLS</th>
          <th>ASS</th>
          <th>CS</th>
          <th>GA</th>
          <th>Total</th>
        </tr>
      </thead>

      <tbody>
        <%- @player.seasons.each do |season| -%>
          <tr>
            <td><strong><%= season %></strong></td>
            <td><%= season.pld %></td>
            <td><%= season.gls %></td>
            <td><%= season.ass %></td>
            <td><%= season.cs %></td>
            <td><%= season.ga %></td>
            <td><%= season.tot %></td>
          </tr>
        <%- end -%>
      </tbody>
    </table>
  </div>
</div>
