<%= content_for :title, 'Players' %>
<h1 class="page-header"><%= content_for :title %></h1>

<section class="datatable">

  <%= render 'filters' %>

  <table id="player-list" class="table table-striped table-hover">
    <thead>
      <tr>
        <th width="10">Pos</th>
        <th>Name</th>
        <th width="10"></th>
        <th>Club</th>
        <th>Team</th>
        <%- %w( pld gls ass cs ga ).each do |type| -%>
          <th align="right"><%= type.upcase %></th>
        <%- end -%>
        <th align="right">Total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <%- @players.each do |player| -%>
        <tr>
          <td>
            <span class="label label-<%= position_colour player.position %>" title="<%= player.full_position %>" data-toggle="tooltip", data-placement="right"><%= player.position %></span>
          </td>
          <td>
            <%= link_to player.short_name, player %>
            <%= content_tag(:span, 'new', class: 'label label-warning') if player.is_new? %>
          </td>
          <td>
            <%- if player.status == 'injured' -%>
              <%= icon :ambulance, '', title: "Injured: #{player.status_notes}", data: { toggle: 'tooltip' } %>
            <%- elsif player.status == 'latefitnesstest' -%>
              <%= icon :stethoscope, '', title: player.status_notes, data: { toggle: 'tooltip' } %>
            <%- elsif player.status == 'doubtful' -%>
              <%= icon :medkit, '', title: "Doubtful: #{player.status_notes}", data: { toggle: 'tooltip' } %>
            <%- elsif player.status == 'suspended' -%>
              <%= icon :ban, '', title: "Suspended #{player.status_notes}", data: { toggle: 'tooltip' } %>
            <%- end -%>
          </td>
          <td><%= player.club.short_name %></td>
          <td>
            <%= link_to_unless player.free_agent?, player.team, player.team do %>
              -
            <%- end -%>
          </td>

          <%- %w( pld gls ass cs ga ).each do |type| -%>
            <td align="right">
              <%= player.season.try(type) || '-' %>
            </td>
          <%- end -%>

          <td align="right">
            <%= player.season.try(:tot) || '0' %>
          </td>

          <td>
            <%- if player.watchers.include? current_manager -%>
              <%= link_to 'unwatch', toggle_watch_player_path(player), method: :post, data: { remote: true, watched: true }, class: 'toggle-watch-player btn btn-success btn-xs pull-right' %>
            <%- else -%>
              <%= link_to 'watch', toggle_watch_player_path(player), method: :post, data: { remote: true, watched: false}, class: 'toggle-watch-player btn btn-default btn-xs pull-right' %>
            <%- end -%>
          </td>
        </tr>
      <%- end -%>
    </tbody>
  </table>

</section>