<h1 class="page-header">
  <div class="pull-right">
    <%- if @player.team_player -%>
      <%- if @player.team_player.substitute? -%>
        <span class="substitute fa-stack" title="Substitute" data-toggle="tooltip" data-placement="left">
      <%- else -%>
        <span class="substitute fa-stack highlight" title="Starting 11" data-toggle="tooltip" data-placement="left">
      <%- end -%>
        <%= icon :square, '', class: 'fa-stack-2x' %>
        <%= icon :user, '', class: 'fa-stack-1x fa-inverse' %>
      </span>
      <%= link_to @player.team, @player.team %>
    <%- else -%>
      <%= icon :user, 'free agent' %>
    <%- end -%>
  </div>

  <div class="label label-primary" title="<%= @player.full_position %>" data-toggle="tooltip"><%= @player.position %></div>
  <%= @player %>
  <small><%= @player.club %></small>
</h1>

<div class="page-sub-header clearfix">
  <div class="pull-left">
    <%- if @player.team_player -%>
      <h4>
        playing for <%= link_to @player.team, @player.team %>
      </h4>
    <%- end -%>
  </div>
  <div class="pull-right">
    <%- if current_manager.watchings.exists? @player -%>
      <%= link_to 'stop watching', toggle_watch_player_path, method: :post, data: { remote: true, watched: true }, class: 'toggle-watch-player btn btn-success btn-xs' %>
    <%- else -%>
      <%= link_to 'watch player', toggle_watch_player_path, method: :post, data: { remote: true, watched: false}, class: 'toggle-watch-player btn btn-default btn-xs' %>
    <%- end -%>
  </div>
</div>

<section>
  <h3 class="page-header">Points this Season</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Season</th>
        <th>PLD</th>
        <th>GLS</th>
        <th>ASS</th>
        <th>CS</th>
        <th>GA</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong><%= @player.season %></strong></td>
        <td><%= @player.season.pld %></td>
        <td><%= @player.season.gls %></td>
        <td><%= @player.season.ass %></td>
        <td><%= @player.season.cs %></td>
        <td><%= @player.season.ga %></td>
        <td><%= @player.season.tot %></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h4 class="page-header">Previous Seasons</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Season</th>
        <th>PLD</th>
        <th>GLS</th>
        <th>ASS</th>
        <th>CS</th>
        <th>GA</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <%- @player.previous_seasons.each do |season| -%>
        <tr>
          <td><strong><%= season %></strong></td>
          <td><%= season.pld %></td>
          <td><%= season.gls %></td>
          <td><%= season.ass %></td>
          <td><%= season.cs %></td>
          <td><%= season.ga %></td>
          <td><%= season.tot %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</section>

