<%= content_for :title, @player %>
<h1 class="page-header">
  <div class="pull-right">
    <%- if @player.status -%>
      <span>
        <%- if @player.status == 'injured' -%>
          <%= icon :ambulance, '', title: "Injured: #{@player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.status == 'latefitnesstest' -%>
          <%= icon :stethoscope, '', title: @player.status_notes, class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.status == 'doubtful' -%>
          <%= icon :medkit, '', title: "Doubtful: #{@player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- elsif @player.status == 'suspended' -%>
          <%= icon :ban, '', title: "Suspended #{@player.status_notes}", class: 'fa-lg red', data: { toggle: 'tooltip' } %>
        <%- end -%>
        &nbsp;&nbsp;
      </span>
    <%- end -%>

    <%- if @player.team_player -%>
      <%- if @player.team_player.substitute? -%>
        <span class="substitute fa-stack" title="Substitute" data-toggle="tooltip" data-placement="left">
      <%- else -%>
        <span class="substitute fa-stack highlight" title="Starting 11" data-toggle="tooltip" data-placement="left">
      <%- end -%>
        <%= icon :square, '', class: 'fa-stack-2x' %>
        <%= icon :user, '', class: 'fa-stack-1x fa-inverse' %>
      </span>
      <%= link_to @player.team, @player.team %>
    <%- else -%>
      <%= icon :user, 'free agent' %>
    <%- end -%>
  </div>

  <div class="label label-primary" title="<%= @player.full_position %>" data-toggle="tooltip"><%= @player.position %></div>
  <%= content_for :title %>
  <small><%= @player.club %></small>
</h1>

<div class="page-sub-header row">
  <div class="col-md-7">
    <%- if @player.team_player -%>
      <h4>
        playing for <%= link_to @player.team, @player.team %>
        <%- if @player.transfer_listed? -%>
          <span class="label label-success">Player is transfer Listed!</span>
        <%- end -%>
      </h4>
    <%- elsif current_manager.admin? -%>

      <%= simple_form_for @player, html: { class: 'form-inline' }, wrapper: :inline_form do |f| %>
        <%= f.simple_fields_for :team_player, TeamPlayer.new do |tpf| %>
          <%= tpf.association :team, as: :select, collection: Team.all, prompt: 'New team?', input_html: { autofocus: true } %>
          <%= tpf.input :purchase_price, required: true, placeholder: 'price?' %>
        <%- end -%>
        <%= f.button :submit, 'Save', class: 'btn-sm' %>
      <%- end -%>

    <%- end -%>

    <%= simple_form_for [@player, @sealed_bid], html: { class: 'form-inline' }, wrapper: :inline_form do |f| %>
      <%= f.input :bid, required: true, placeholder: 'sealed bid?' %>
      <%= f.button :submit, 'Submit Bid', class: 'btn-sm' %>
      <small><a href="#" data-toggle="modal" data-target="#myModal">What's a Sealed Bid?</a></small>
    <%- end if @player.free_agent? && !current_manager.has_bid? -%>

  </div>
  <div class="col-md-5 right">
    <%- if current_manager.watchings.exists? @player -%>
      <%= link_to 'stop watching', toggle_watch_player_path, method: :post, data: { remote: true, watched: true }, class: 'toggle-watch-player btn btn-success btn-sm' %>
    <%- else -%>
      <%= link_to 'watch player', toggle_watch_player_path, method: :post, data: { remote: true, watched: false}, class: 'toggle-watch-player btn btn-default btn-sm' %>
    <%- end -%>
  </div>
</div>

<%- if current_manager.has_bid?(@player) -%>
  <p class="alert alert-warning"><strong>You have a bid of &pound;<%= @player.sealed_bids.find_by(manager: current_manager).bid %>m tabled for this player!</strong> Come back here after 11pm on Sunday to see if you have won the bid.</p>
<%- end -%>

<section>
  <h3 class="page-header">Points this Season</h3>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Season</th>
        <th>PLD</th>
        <th>GLS</th>
        <th>ASS</th>
        <th>CS</th>
        <th>GA</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td><strong><%= @player.season %></strong></td>
        <td><%= @player.season.pld %></td>
        <td><%= @player.season.gls %></td>
        <td><%= @player.season.ass %></td>
        <td><%= @player.season.cs %></td>
        <td><%= @player.season.ga %></td>
        <td><%= @player.season.tot %></td>
      </tr>
    </tbody>
  </table>
</section>

<section>
  <h4 class="page-header">Previous Seasons</h4>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Season</th>
        <th>PLD</th>
        <th>GLS</th>
        <th>ASS</th>
        <th>CS</th>
        <th>GA</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <%- @player.previous_seasons.each do |season| -%>
        <tr>
          <td><strong><%= season %></strong></td>
          <td><%= season.pld %></td>
          <td><%= season.gls %></td>
          <td><%= season.ass %></td>
          <td><%= season.cs %></td>
          <td><%= season.ga %></td>
          <td><%= season.tot %></td>
        </tr>
      <%- end -%>
    </tbody>
  </table>
</section>




<!-- Sealed Bid Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Sealed Bids</h4>
      </div>
      <div class="modal-body">
        <p>Bids can be tabled for any player that is a Free Agent (a player that does not play for another Fantasy League Team). These bids are sealed and no other managers will see the amount you have bid, or what player you have bid on.</p>
        <p>The following rules apply to Sealed Bids:</p>
        <ul>
          <li>You can place a sealed bid for only one player at any given time.</li>
          <li>You cannot bid an amount that is more than your current budget.</li>
          <li>All other squad rules apply.</li>
        </ul>
        <p>Every last Sunday of the month at 11pm, the system will collect all sealed bids submitted during the month, and will determine the winner of each player that is bid for. The manager who bid the most will win the player.</p>
        <p>In the result of a tie, the manager highest in the league table at that time will win the bid.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>