<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title><%= "#{yield(:title)} - " if content_for?(:title) %>Fantasy League</title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Fantasy League" %>">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= controller_name %> <%= action_name %>">

    <header>
      <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">FANTASY LEAGUE</a>
          </div>

          <div class="navbar-collapse collapse">
            <%- if signed_in? -%>
            <ul class="nav navbar-nav">
              <li class="dropdown<%= 'active' if controller_name == 'dashboard' %>">
                <%= link_to root_path, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
                  Dashboard <span class="caret"></span>
                <%- end -%>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'Overview', root_path %></li>
                  <%- if current_manager.team -%>
                  <li><%= link_to 'Your Squad', team_path(current_manager.team) %></li>
                  <%- end -%>
                  <li><%= link_to 'Conversations', conversations_path %></li>
                </ul>
              </li>
              <li class="dropdown<%= ' active' if controller_name == 'teams' %>">
                <%= link_to root_path, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
                  Tables <span class="caret"></span>
                <%- end -%>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'League Table', teams_path %></li>
                  <li><%= link_to 'Team of the Month', months_teams_path %></li>
                  <li><%= link_to 'Team of the Week', weeks_teams_path %></li>
                </ul>
              </li>
              <li class="<%= 'active' if controller_name == 'fixtures' %>"><%= link_to 'Results', fixtures_path %></li>
              <li class="dropdown<%= ' active' if controller_name == 'players' %>">
                <%= link_to root_path, class: 'dropdown-toggle', data: { toggle: 'dropdown' } do %>
                  Players <span class="caret"></span>
                <%- end -%>
                <ul class="dropdown-menu" role="menu">
                  <li><%= link_to 'All Players', players_path %></li>
                  <li><%= link_to 'Watch List', watching_players_path %></li>
                </ul>
              </li>
              <li class="<%= 'active' if controller_name == 'managers' %>"><%= link_to 'Managers', managers_path %></li>
              <li class="<%= 'active' if controller_name == 'pages' && action_name == 'rules' %>"><%= link_to 'Rules', rules_path %></li>
            </ul>
            <%- end -%>

            <ul class="nav navbar-nav navbar-right">
              <%- if signed_in? -%>
                <li>
                  <%= link_to conversations_path do %>
                    <span class="label label-<%= current_manager.unread_messages > 0 ? 'danger' : 'default' %>"><%= current_manager.unread_messages %></span>
                  <%- end -%>
                </li>
                <li class="navbar-text">Signed in as <%= current_manager %></li>
                <li><%= link_to icon('sign-out', 'Sign out'), destroy_manager_session_path, method: :delete, data: { confirm: 'Are you sure?' } %></li>
              <%- else -%>
                <li><%= link_to icon('sign-in', 'Sign in'), new_manager_session_path %></li>
              <%- end -%>
            </ul>
          </div>
        </div>
      </div>
    </header>

    <section class="container">
      <ol class="breadcrumb">
        <%= render_breadcrumbs tag: 'li', separator: '' %>
      </ol>
    </section>

    <main role="main" class="container">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </main>

    <footer>
      <div class="container">
        <small class="text-muted">
          <span class="pull-right">Problems? Something not quite right? Email <%= mail_to 'joel@developwithstyle.com' %></span>
          <i>Developed with Style</i> by <%= link_to 'Joel Moss', 'https://twitter.com/joelmoss' %>
        </small>
      </div>
    </footer>


    <div id="load-screen">
      <div id="load-screen-bg"></div>
      <div id="load-screen-spinner"></div>
    </div>


  </body>
</html>
